@import '../../../styles/styles.scss';

.notifications {
    padding: 20px;
    display: inline-block;
    float: right;
    width: 50%;
    height: 100%;
    position: fixed;
    // position: fixed;
    .wrapper {
        text-align: left;
        width: fit-content;
        margin: 0 auto;
        // width: fit-content;
        // margin: 0 auto;
        h2 {
            @extend %dash-headers;
        }
        // width: 50%;
        // display: inline-block;
        // float: right;
        // padding: 20px;
    }
}