@import '../../../styles/styles.scss';

nav {

    position: relative;
    @extend %black-border-bottom;
    
    .wrapper {
        padding: 20px 15px;
        font-size: 24px;
        .brand-logo {
            font-weight: 700;
            // font-family: 'Barriecito', cursive;
        }
        .fas {
            float: right;
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 768px) {
    nav {
        .wrapper {
            .fas {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    nav {
        .wrapper {
            width: 1000px;
            margin: 0 auto;
        }
    }
}