@import '../../../styles/styles.scss';

nav {

    // position: relative;
    @extend %black-border-bottom;
    
    .outer-wrapper {
        position: relative;
        .inner-wrapper {
            font-size: 24px;
            padding: 20px 15px;
            .brand-logo {
                font-weight: 700;
                // font-family: 'Barriecito', cursive;
            }
            .fas {
                float: right;
                cursor: pointer;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    nav {
        .outer-wrapper {
            .inner-wrapper {
                .fas {
                    display: none;
                }
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    nav {
        .outer-wrapper {
            position: relative;
            width: 1000px;
            margin: 0 auto;
        }
    }
}