.not-found {
    padding: 20px;
    text-align: center;
    margin-top: 60px;
    h1 {
        
        display: block;
        font-size: 78px;
        font-weight: 700;
    }
    h2 {
        margin: 10px 0 20px 0;
    }
    a {
        font-weight: 700;
    }
}