.non-member-dashboard {
    padding: 20px;
    text-align: center;
    display: grid;
    place-items: center center;
    height: 80vh;
    h2 {
        line-height: 2em;
        max-width: 400px;
        color: #222;
        margin-top: 50px;
    }
    // .test-login-popup {
    //     border: 1px solid #222;
    //     position: absolute;
    //     margin: 12px auto;
    //     left: 0;
    //     right: 0;
    //     width: fit-content;
    //     .wrapper {
    //         padding: 10px;
    //         position: relative;
    //         .test-login-creds {
    //             margin-right: 25px;
    //             font-weight: bold;
    //             text-align: left;
    //             span {
    //                 margin-bottom: 5px;
    //                 display: block;
    //             }
    //         }
    //         .fa-times {
    //             font-size: 25px;
    //             position: absolute;
    //             top: 10px;
    //             right: 10px;
    //         }
    //     }
    // }
}

@media screen and (min-width: 850px) {
    .non-member-dashboard {
        h2 {
            line-height: 2.25em;
            max-width: 650px;
            font-size: 32px;
        }
    }
}