@import '../../../styles/styles.scss';

ul {
    @extend %nav-list;
    @extend %black-border-top;
    li {
        @extend %nav-links;
        a {
            @extend %nav-link;
            @extend %black-border-bottom;
        }
    }
}

@media screen and (min-width: 768px) {
    ul {
        display: inline-block;
        position: absolute;
        right: 40px;
        top: 25px;
        border: 0;
        width: auto !important;
        border-top: none !important;
        li {
            display: inline-block !important;
            a {
                border: 0;
                margin-left: 50px;
                padding: 0 !important;
                width: fit-content !important;
                border-bottom: none !important;
            }
        }
    }
}