@import '../../../styles/styles.scss';

.post-details {
    padding: 20px;
    max-width: 550px;
    margin: 0 auto;
    position: relative;
    @extend %clear-fix;
    .header-wrapper {
        display: inline-block;
        h2 {
            margin-right: 75px;
        }
        p {
            span {
                @extend %space-left;
            }
        }
    }

    .posted-by {
        margin-top: 5px;
        font-size: 14px;
        font-weight: 300;
    }
    .content {
        margin: 20px 0;
        white-space: pre-wrap;
        line-height: 1.75em;
    }
    .date {
        margin-bottom: 10px;
        span {
            font-weight: 700;
        }
    }
    .edit-btn {
        border: 1px solid #222;
        padding: 8px 15px;
        border-radius: 5px;
        // margin-top: 10px;
        // float: right;
        position: absolute;
        right: 20px;
    }
}