@import '../../../styles/styles.scss';

.login-form-wrapper {
    text-align: left;
    display: grid;
    place-items: center center;
    height: 80vh;
    .form {
        @extend %form-auth;
        width: 100%;
    
        h2 {
            @extend %form-title-mobile;
            margin-top: 0;
        }
        div {
            input {
                @extend %form-input;
                font-size: 16px;
                padding: 10px;
                border: none;
                border-bottom: 1px solid #222;
                width: 100%;
                margin-bottom: 20px;
            }
        }
    
        button[type="submit"] {
            @extend %submit-btn;
        }
    }
}

@media screen and (min-width: 850px) {
    form {
        h2 {
            margin-bottom: 50px;
            font-size: 32px;
        }
    }
}